/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

* {
    font-family: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
}

.my-light-grey {
    background-color: rgb(233, 232, 232);
}