<!-- <p>header works!</p> -->
<header class="shadow-lg container-fluid">
    <nav class="navbar text-black">
      <a href="#" class="nav-branding">WeTech</a>

      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#about"  class="nav-link" (click)="onLinkClick();">About</a>
        </li>
        <li class="nav-item">
          <a href="#team" class="nav-link" (click)="onLinkClick();">Team</a>
        </li>
        <li class="nav-item">
          <a href="#work" class="nav-link" (click)="onLinkClick();">Work</a>
        </li>
        <li class="nav-item">
          <a href="#pricing" class="nav-link" (click)="onLinkClick();">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link" (click)="onLinkClick();">Contact</a>
        </li>
      </ul>
      <div id="hamburger" class="hamburger" (click)="onHamburgerClick();">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>